[submodule "WatHydra_datalogger/lib/SDIC_FONA"]
	path = WatHydra_datalogger/lib/SDIC_FONA
	url = git@github.com:UW-SDIC/Adafruit_FONA.git
[submodule "WatHydra_datalogger/lib/SD"]
	path = WatHydra_datalogger/lib/SD
	url = git@github.com:UW-SDIC/SD.git
[submodule "WatHydra_datalogger/lib/Circular_Buffer"]
	path = WatHydra_datalogger/lib/Circular_Buffer
	url = https://github.com/tonton81/Circular_Buffer.git
